/* Estilo del cuerpo con fondo degradado y tipografía futurista */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado para que los elementos se alineen desde el principio */
    height: 100vh;
    color: #fff;
}

/* Estilo para los títulos */
h1 {
    font-size: 3rem;
    color: #00e6ff;
    text-shadow: 0 0 15px #00e6ff, 0 0 30px #00e6ff;
    margin-bottom: 30px;
}

/* Efecto de neón para las etiquetas */
label {
    font-size: 1.2rem;
    color: #00e6ff;
    text-shadow: 0 0 5px #00e6ff, 0 0 10px #00e6ff;
}

/* Inputs futuristas */
input[type="file"], input[type="number"], select {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #00e6ff;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 5px #00e6ff;
    outline: none;
    transition: border 0.3s ease;
}

input[type="file"]:hover, input[type="number"]:hover, select:hover {
    border-color: #ff00ff;
}

/* Estilo para los botones con efecto de neón */
button {
    background: #00e6ff;
    color: #000;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 20px #00e6ff, 0 0 30px #00e6ff;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

button:hover {
    background: #ff00ff;
    box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    color: #fff;
}

/* Efecto en los botones al hacer clic */
button:active {
    transform: scale(0.98);
}

/* Canvas para gráficos */
canvas {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #00e6ff;
    border-radius: 10px;
    box-shadow: 0 0 20px #00e6ff;
    /* Agrega un alto fijo para el canvas */
    height: 400px; /* Ajusta este valor según tus necesidades */
    width: 100%; /* Asegura que el ancho sea del 100% */
}


/* Estilo para los selectores y campos de entrada */
select {
    width: 100%;
    background:  #0f2027;
}

input, select {
    width: 300px;
}

/* Transiciones suaves */
input, select, button {
    transition: all 0.3s ease;
}

